<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<%- include('partial/nav.ejs') %>
	
	<main>
	<h1>Welcome to  Hutchins Planning</h1>
	<% if(user){%>
		<h2> What you looking for?</h2>
		<a href="/products/showAll"	class = "link-box">
			  View All Products</a>
		<a href="/customers" class = "link-box">
			  View All Customers</a>
		<a href="/products/new"class = "link-box" >
				New Products</a>
		<a href="/customers/new"class = "link-box" >
				New Customers</a>	  


			  <%}  %>
		
	</main>
</body>

</html>