<h2>Enter a New Product</h2>
<form action="/products" method="POST">
  <label>Product ID:
    <input type="number" name="title">
  </label><br>
  <label>Category:
    <select name="Category">
        <option value="Wholesale">G</option>
        <option value="Retail">PG</option>
    </select>
  </label><br>
  <label>Product Name:
    <input type="text" name="Product_Name">
  </label><br>
  <label>Product_Status
    <input type="text" name="Product_Status">
  </label><br>

  <button type="submit">Add Product</button>
</form>
