<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('../partial/nav.ejs') %>
    <main>
        <section id="show-page">
            <table>
                <tr>
                    <th>Category</th>
                    <th>Product Name</th>
                    <th>Status</th>
                </tr>
                <% productsDocs.forEach(function(p){ %>
                <tr>
                    <td><%= p.Category %></td>
                    <td><%= p.Product_Name %></td>
                    <td><%= p.Product_Status %></td>
                </tr>
                <% }); %>
            </table>
        </section>
    </main>
</body>