<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<%- include('../partial/nav.ejs') %>
	<main>
		
		<form id="add-customer-form" action="/customers" method="POST">
			<label>Customer Name:</label>
			<input required type="text" name="customer_name">
			<label>Customer Region:</label>
            <select required name="customer_region">
                <option value="US">US</option>
                <option value="APGC">APGC</option>
                <option value="EUR">EUR</option>
                <option value="OTHERS">OTHERS</option>
            </select>
			

			<input type="submit" value="Add Customer">
		</form>
	</main>

</body>

</html>